html
  head
  body
    section.content-header
      h1
        | Absensi Murid
        small lihat Data Absensi Murid
      ol.breadcrumb
        li.active
          a(href='#')
            i.fa.fa-database
            |  Data Absensi Murid
    .box-header
    -if(level=="admin"){
      button.btn.btn-danger(ng-click='hapus()')
        i.fa.fa-trash
        |  Hapus Absen
      button.btn.btn-success(ng-click='cetakxlsx()')
        i.fa.fa-file-excel-o
        |  Cetak Laporan Absensi
    -}else if(level=="guru"){
      button.btn.btn-danger(ng-click='hapus()')
        i.fa.fa-trash
        |  Hapus Absen
      button.btn.btn-success(ng-click='cetakxlsx()')
        i.fa.fa-file-excel-o
        |  Cetak Laporan Absensi
    -}else{

    -}
    .box-body
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Input data Absen
            .modal-body
              .form-group
                label Keterangan
                select.form-control(ng-model='ket')
                  option(value='izin') Izin
                  option(value='alfa') Alfa
                  option(value='sakit') Sakit
            .modal-footer
              button.btn.btn-primary(ng-click='tambah()')
                i.fa.fa-send
                |  Submit
              button.btn.btn-default(type='button', data-dismiss='modal') Close
      table.table.table-bordered.table-striped(datatable='ng', dt-columns='dtColumns', dt-options='dtOptions')
        thead
          th
            input(type='checkbox', ng-click='checkall()')
          th Nama Murid
          th Kelas
          th Alfa
          th Izin
          th Sakit
          th Masuk
          -if(level=="admin"){
          th Action
          -}else if(level=="guru"){
          th Action 
          -}else{
          -}
        tbody
          tr(ng-repeat='item in absensimurid')
            td
              input(type='checkbox', checklist-model='user.hapusabsensimurid', checklist-value='item._id', role='')
            td {{item.nama}}
            td {{item.kelas}}
            td {{item.alfa}}
            td {{item.izin}}
            td {{item.sakit}}
            td {{item.masuk}}
            -if(level=="admin"){
            td
              button.btn.btn-primary(data-toggle='modal', ng-click='edit(item)', data-target='#myModal')
                i.fa.fa-plus
                |  Input Absen
            -}else if(level=="guru"){
            td
              button.btn.btn-primary(data-toggle='modal', ng-click='edit(item)', data-target='#myModal')
                i.fa.fa-plus
                |  Input Absen
            -}else{

            -}
