<html>
<head>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5-->
  <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1><center>Jadwal Mata Pelajaran</center></h1>
<table class="table brodered-stripped">
  <thead>
    <th>nama</th>
    <th>kelas</th>
  </thead>
  <tbody>
    each item in data 
    <tr>
    <td>Nama</td>
    <td>kelas</td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
