html
  head
  body
    section.content-header
      h1
        | Data User
        small lihat Data User
      ol.breadcrumb
        li.active
          a(href='#')
            i.fa.fa-database
            |  Data User
    .box-header
    -if(level=='guru'){
    -}else{
      button.btn.btn-primary(data-toggle='modal', data-target='#myModal')
        i.fa.fa-user-plus
        |  Tambah user
      button.btn.btn-danger(ng-click='hapus()')
        i.fa.fa-user-times
        |  Hapus User
    -}
    .box-body
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Input data user
            .modal-body
              .form-group
                label Nama
                input.form-control(type='text', ng-model='nama')
              .form-group
                label Email
                input.form-control(type='email', ng-model='email')
              .form-group
                label foto
                input.form-control(type='file', file-model='foto')
              .form-group
                label password
                input.form-control(type='password', ng-model='password')
              .form-group
                label Level
                select.form-control(ng-model='level')
                  option(value='admin') Admin
                  option(value='guru') Guru
                  option(value='murid') Murid
            .modal-footer
              button.btn.btn-primary(ng-click='tambah()')
                i.fa.fa-send
                |  Submit
              button.btn.btn-default(type='button', data-dismiss='modal') Close
      #myModal1.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Ubah Data kelas
            .modal-body
              .form-group
                label Nama
                input.form-control(type='text', ng-model='nama')
              .form-group
                label Email
                input.form-control(type='email', ng-model='email')
              .form-group
                label foto
                input.form-control(type='file', file-model='foto')
              .form-group
                label password
                input.form-control(type='password', ng-model='password')
              .form-group
                label Level
                select.form-control(ng-model='level')
                  option(value='admin') Admin
                  option(value='guru') Guru
                  option(value='murid') Murid
            .modal-footer
              button.btn.btn-success(ng-click='actionedit()')
                i.fa.fa-send
                |  Submit
              button.btn.btn-default(type='button', data-dismiss='modal') Close
      table.table.table-bordered.table-striped(datatable='ng', dt-columns='dtColumns', dt-options='dtOptions')
        thead
          th
            input(type='checkbox', ng-click='checkall()')
          th Nama
          th Email
          th Foto
          th Level
          -if(level=='guru'){
          -}else{
          th Action
          -}
        tbody
          tr(ng-repeat='item in datauser')
            td
              input(type='checkbox', checklist-model='user.hapususer', checklist-value='item', role='')
            td {{item.nama}}
            td {{item.email}}
            td
              img(ng-src='{{item.foto}}', width='100', height='100')
            td {{item.level}}
            -if(level=='guru'){
            -}else{
            td
              button.btn.btn-success(data-toggle='modal', ng-click='edit(item)', data-target='#myModal1')
                i.fa.fa-edit
            -}
